*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  


}


body{
    background-color: black;
    color: white;
}

.click:hover{
    transform: scale(1.1);
}

.click:active{
    transform: scale(0.8);
}

.click{
    transition: all ease 300ms;
}


.landing_page{
    
    height: 100vh;

}

nav{
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
   
  
}

.nav__link-container{
    display: flex;
    list-style: none;
    
}

.nav__link{
    text-decoration: none;
    color: white;


}

.nav__links{

    margin-right: 20px;
    
}


.log__in-button{
    border: 2px red solid;
    background-color: red;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
}

.logo{
    font-size: 20px;
    font-weight: 800;
    color: red;

}


.red{
    color: red;
}






.movie__container{
    display: flex;

}

.padding{
    padding-bottom: 10px;
}

.movie__info--page {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image__placeholder{
    padding-right: 50px;
}

.result__image{
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.45);
}

h4, p{
    font-weight: 400;
    font-size: 16px;

}


.movie__title{
    font-size: 40px;
}

.fa-imdb{
    font-size: 40px;
}

.data{
    font-weight: 200;
    
}

.movie__info--page{
    position: relative;
}

.movie__container {
    position: relative;
}
.fa-spinner{
    position: absolute;
    font-size: 50px;
    animation: spin 1s linear infinite;
  
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@media (max-width:768px) {
    nav{
        width: 100%;
        max-width: 650px;
    }

    .menu__bar{
        display: none !important;
    }

    .movie__info--page{
        width: 100%;
        max-width: 600px;
    }
    
}



@media (max-width:428px) {
    nav {
        width: 100%;
        max-width: 320px;
    }

    li{
        display: none;
    }

   .movie__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   }

   .menu__bar {
    display: block !important;
   }

   .movie__info--page{
    width: 100%;
    max-width: 400px;
    margin:0 auto;
    margin-top: 90px;
    
   }

   .result__image{
    display: flex;
    justify-content: center;
    max-width: 250px;
   }

   .movie__info--section{
    max-width: 300px;
   }

.result__img{
    width: 100%;
    margin-left: 50px;
    margin-bottom: 20px;
}

.movie__title{
    text-align: center;
    margin-left: 40px;
    margin-bottom: 10px;
}


   

    
}


@media (max-width:375px)
 {
    .movie__info--page{
        margin-top: 100px;
    }

    .result__img{
        margin-top: 200px;
    }
    .movie__info--section{
        max-width: 300px;
        margin-left: 20px;
       }
    
       .movie__title{
        margin: 0;
       }
 }