*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  


}

.menu__bar{
    display: none;
}

.logo__image{
    width: 100px;
}

.logo__main{
    width: 300px;
    margin-bottom: 32px;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    
}


.background__img {
    position: absolute;
    z-index: -100;

   
   
}

.background__image{
   
    width: 100%;
    height: auto;
    
    filter: brightness(15%);
    
}



.click:hover{
    transform: scale(1.1);
}

.click:active{
    transform: scale(0.8);
}

.click{
    transition: all ease 300ms;
}


.landing_page{
    
    height: 100vh;
}

nav{
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
   
  
}

.nav__link-container{
    display: flex;
    list-style: none;
    
}

.nav__link{
    text-decoration: none;
    color: white;


}

.nav__links{

    margin-right: 20px;
    
}


.log__in-button{
    border: 2px red solid;
    background-color: red;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
}

.logo{
    font-size: 20px;
    font-weight: 800;
    color: red;

}


.red{
    color: red;
}


.welcome__intro{
    width: 100%;
    max-width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}

.h1__intro{
    text-align: center;
    font-size: 56px;
    padding-bottom: 24px;
    
}

.h2__intro{
    padding-bottom: 16px;
}


.intro__para{
    padding-bottom: 16px;
}



.search{
    display: flex;
    align-items: center;
    justify-content: center;
}


.search__bar{
    width: 250px;
    padding: 16px 48px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    position: relative;
    outline: none;
  
    
}


.search__icon{
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    left: 300px;
    top: 12px;
    color: black;

    

}

.search__icon:hover{
    cursor: pointer;
}

.search__form{
    position: relative;
}




.result__list {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}



.result__img{
  
    width: 100%
   
}

.result__image{
    transition: all ease 300ms;
}

.result__image:hover{
    transform: scale(1.1);
}




.result__container{
    width: 100%;
   max-width: 200px;
   

   border-radius: 20px;
   overflow: hidden;
   
   box-shadow: 0px 10px 10px rgba(255, 0, 0, 0.45);
   
   margin: 20px;
   
   
   
}


.result__container:hover{
    cursor: pointer;
}


.result__info{
    padding: 10px;
}



.result__title{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-weight: 500;
}



.result__year, .result__imdbid, .result__type{
    font-size: 14px;
    padding-bottom: 6px;
    font-weight: 300;
}








@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}






.loading__line{
    
    
     width: 100%;
     max-width: 85%;
     border-radius: 10px;
     height: 4px;
     margin: 0 auto;
     background-color: red;
     animation: loadingstate 600ms linear infinite;
     
 }

.results__h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 32px;
}

.results{
    height: 100vh;
    padding-top:48px;
}


.results__h1 {
    display: none !important;
    padding-bottom: 32px;
}

.results .results__h1{
    display: block !important;
}





@keyframes loadingstate {
    0% {
        width: 0%;
    }

    100% {
       
        width: 100%;
     
        
    }

  
}





@media (max-width:768px) {

    .menu__bar{
        display: none;
    }

    nav{
        width: 100%;
        max-width: 650px;
    }

   li:first-child{
    display: none;
   
   }

.welcome__intro{
    margin-top: 0;
}

nav{
    margin-top: 20px;
}

.main__page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.background__image{
    width: 1500px;
    height: 100vh;
    

}

.background__img{
    top: 0;
    left: 0;
    left: -500px;

}

}




@media (max-width:480px) {

    
nav {
    width: 100%;
    max-width: 300px;
    margin-top: 0;
}

.menu__bar{
    display: block;
}

li{
    display: none;
}

.logo__image{
    width: 70px;
}

.logo__main{
    width: 150px;
}
.h2__intro{
    font-size: 16px;
}

.intro__para{
    font-size: 12px;
}

.search__bar{
    padding: 16px 30px;
}

.search__icon{
    left: 280px;
    top: 15px;
}


.results__h1{
    font-size: 20px;
}

.result__container{
    max-width: 140px;
}

.result__title{
    font-size: 14px;
}

.result__year, .result__imdbid, .result__type {
    font-size: 10px;
}

.background__image{
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    

}

.background__img{
    top: 0;
    left: 0;
    left: -400px;}


.result__list {
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  
    flex-wrap: wrap;
}



}
